.welcome-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 2em auto 4em auto;
  padding: 4em 4em 2em 4em;
  text-align: center;
  width: 80%;
}

@media (min-width: 1000px) {
  .welcome-card {
    width: 70%;
  }
}